<div class="error-message" *ngIf="!!error">
    <app-error
        [errorMessage]="errorMessage || null"
        [error]="error"
        [displayHeader]="false">
    </app-error>
</div>
<div class="card-holder col-10 offset-1 mt-5">
    <h2> {{pageTitle}}</h2>
    <div class="card-body mt-4">
        <form novalidate [formGroup]="categoryForm" (ngSubmit)="saveCategory()">
            <div class="col-10 offset-1">
                <div class="col-10 offset-1">
                    <div class="type-transaction-div">
                        <input type="radio" class="btn-check" name="categoryType" id="danger-outlined" autocomplete="off"
                            value="0" formControlName="categoryType" [checked]="true">
                        <label class="btn btn-outline-danger btn-lg" for="danger-outlined"
                            style="width: 98%;">Expense</label>
                    </div>
                    <div class="type-transaction-div">
                        <input type="radio" class="btn-check" name="categoryType" id="success-outlined"
                            autocomplete="off" value="1" formControlName="categoryType">
                        <label class="btn btn-outline-success btn-lg" for="success-outlined"
                            style="width: 98%;">Income</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="categoryName">Name:</label>
                    <input class="form-control" id="categoryName" type="text" formControlName="categoryName" placeholder="Categoy Name...">            
                </div>
                <div class="form-group mt-2" >
                    <label for="categoryIcon">Icon: </label>
                    
                    <div id="categoryIcon">
                        <label *ngFor="let icon of icons">
                            <input type="radio" name="iconId" value="{{icon.id}}" formControlName="iconId">
                            <img [src]="icon?.photoUrl" class="icon-img-select">
                        </label>
                    </div>
                </div>
                
                <div class="row mt-4">
                      <button type="submit" class="btn btn-primary btn-lg "
                              style="width: 130px;"> Save </button>
                      <a class="btn btn-outline-danger btn-lg "
                              style="width: 130px; margin-left: 10px;"
                              (click)="onCancel()"> Cancel </a>
                  </div>
            </div>
        </form>
    </div>
</div>
