<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation!</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
      ></button>
</div>
<div class="modal-body">
    Deleting this category will also delete all transactions that are linked to it. Are you sure you want to delete the Category?
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary rounded-pill" (click)="modalRef.close(false)">
        Close
    </button>
    <button type="button" class="btn btn-danger rounded-pill" (click)="modalRef.close(true)">
        Yes
    </button>
</div>