<div class="row">
  <p-messages [(value)]="messages" [enableService]="false" />
</div>

<div class="row mb-3 align-items-end">
    <div class="col-6 mb-2 d-flex flex-column">
        <label for="categoryTypeSelect" class="form-label mb-1">Filter by Category Type:</label>
        <select id="categoryTypeSelect" class="form-select" [(ngModel)]="selectedCategoryType" (change)="filterCategories()">
          <option value="0" selected>Expense</option>
          <option value="1">Income</option>
          <option value="2">----------</option>
        </select>
    </div>
    <div class="col-6 mb-2 d-flex justify-content-end">
        <button class="btn btn-primary d-flex w-100 button-group-height align-items-center justify-content-center" (click)="openAddModal()">
          <i class="fas fa-plus me-2"></i> <!-- Plus icon with margin-right for spacing -->
          Add Category
        </button>
    </div>
</div>

<div *ngIf="showSpinner" class="text-center mt-2">
  <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
  </div>
</div>

<ng-container *ngIf="!showSpinner">
    <table class="table align-middle mb-0 bg-white">
        <thead class="table-header">
            <tr>
                <th class="text-center" style="width: 100px;"></th>
                <th class="text-center">Name</th>
                <th class="text-center">Type</th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody *ngIf="!showTableSpinner">
            <tr *ngFor="let category of filteredCategories">
                <!-- Image Column -->
                <td class="px-4" style="width: 100px;">
                    <div class="d-flex align-items-center rounded-circle">
                        <img
                            [src]="category.icon.photoUrl"
                            alt="Category Icon"
                        />
                    </div>
                </td>

                <!-- Category Name Column -->
                <td class="text-center">
                    <h5 class="mb-1">{{category.name}}</h5>
                </td>

                <!-- Category Type Badge Column -->
                <td class="text-center">
                  <h5>
                    <span *ngIf="category.type === CategoryType.Income" class="badge bg-success rounded-pill">Income</span>
                    <span *ngIf="category.type === CategoryType.Expense" class="badge bg-danger rounded-pill">Expense</span>
                  </h5>
                </td>

                <!-- Action Buttons Column -->
                <td class="text-center">
                    <button
                      type="button"
                      class="btn btn-secondary btn-sm rounded-pill"
                      (click)="openEditModal(category.id)"
                    >
                      Edit
                    </button>
                    <button
                      type="button"
                      class="btn btn-outline-danger btn-sm btn-floating"
                      (click)="openDeleteModal(category.id)"
                    >
                      <i class="fas fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>
