<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #386BC0;" >
  <div class="container-fluid">
      <a class="navbar-brand" href="">MoneyManagerX</a>
      <button
        class="navbar-toggler"
        type="button"
        (click)="noListNav.toggle()"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div
        class="collapse navbar-collapse"
        id="navbarNavAltMarkup"
        mdbCollapse
        #noListNav="mdbCollapse"
      >
        <div class="navbar-nav">
          <a class="nav-link" routerLinkActive="active-link" [routerLink]="['/spending']" aria-current="page">Spending</a>
          <a class="nav-link" routerLinkActive="active-link" [routerLink]="['/transactions']" aria-current="page">Transactions</a>
          <a class="nav-link" routerLinkActive="active-link" [routerLink]="['/categories']" aria-current="page">Categories</a>
          <a class="nav-link" routerLinkActive="active-link" [routerLink]="['/statistics']" aria-current="page">Statistics</a>
        </div>
      </div>
    </div>
  </nav>