/* Set the desired height */
.calendar-height, .button-group-height {
    height: 40px; /* Adjust this value to match your calendar component's height */
}

/* Adjust individual button heights */
.button-group-height .btn {
    height: 100%; /* Make each button fill the button group's height */
}

.btn-group {
    display: flex;
    height: 100%;
    width: 100%; /* Full width for button group */
}

.btn-group .btn {
    width: 50%; /* Each button takes half of the button group’s width */
    margin-right: -1px; /* Remove gap between buttons */
}

/* General Table Styling */
.table {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Table Row Styling */
  .table tbody tr {
    transition: background-color 0.3s ease;
  }
  
  .table tbody tr:hover {
    background-color: #f8f9fa;
  }
  
  /* Image Styling */
  .table img {
    width: 60px;
    padding: 3%;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  /* Text Alignments and Font Styling */
  .table h5 {
    margin: 0;
    font-weight: 600;
    font-size: 1rem;
    color: #333;
  }
  
  .table td {
    vertical-align: middle;
    padding: 15px;
  }

/* Button Styling */
.btn-outline-primary {
  border-color: #386BC0;
  color: #007bff;
}

.btn-outline-primary:hover {
  background-color: #386BC0;
  color: #fff;
}

.btn-outline-danger {
  border-color: #dc3545;
  color: #dc3545;
}

.btn-outline-danger:hover {
  background-color: #dc3545;
  color: #fff;
}

/* Tooltip Styling for Buttons */
button[title] {
  position: relative;
  cursor: pointer;
}

button[title]:hover::after {
  content: attr(title);
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 0.75rem;
  white-space: nowrap;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

/* Apply the new font to the table */
.table {
  font-family: 'Roboto', sans-serif;
}

/* Optional: Adjust weights and sizes for different elements */
.table h5 {
  font-weight: 500; /* Medium weight for headers */
  font-size: 1rem;
  color: #333;
}

.table td {
  font-weight: 400; /* Normal weight for table data */
  font-size: 0.95rem;
  color: #555;
}

.income {
  color: #5e916a; /* Green for income */
  font-weight: bold;
}

.expense {
    color: #dc3545; /* Red for expense */
    font-weight: bold;
}
.btn-outline-success:hover{
  background-color: #14a44d;
  color: #ffffff;
}