<div class="row">
    <p-messages [(value)]="messages" [enableService]="false" />
</div>

<div class="row mb-3 align-items-end">
  <div class="col-md-4 mb-2 d-flex flex-column">
      <label for="monthPicker" class="form-label mb-1">Month</label>
      <p-calendar 
          id="monthPicker"
          [(ngModel)]="newDateChosen" 
          view="month" 
          dateFormat="MM yy" 
          [readonlyInput]="true" 
          class="form-control calendar-height" />
  </div>
  <div class="col-md-4 mb-2 d-flex flex-column">
      <label for="period" class="form-label mb-1">Period</label>
      <div id="period" class="btn-group button-group-height" role="group">
          <button type="button" class="btn btn-secondary" data-mdb-ripple-init>Monthly</button>
          <button type="button" class="btn btn-secondary" data-mdb-ripple-init>Yearly</button>
      </div>
  </div>
  <div class="col-md-4 mb-2 d-flex justify-content-end">
      <button class="btn btn-outline-success w-100 button-group-height" (click)="openAddModal()">Add Transaction</button>
  </div>
</div>



<!-- <div class="row">
  <div class="col-6">
    <div class="row">
        <div class="col-6">
          <p>Choose a month:</p>
        </div>
        <div class="col-6">
          
        </div>
    </div>

    <div class="btn-group" role="group">
      <button type="button" class="btn btn-outline-danger"  data-mdb-ripple-init>Monthly</button>
      <button type="button" class="btn btn-outline-danger"  data-mdb-ripple-init>Yealy</button>
    </div>
      
  </div>
</div>



<div class="row">
    <div class="col-5">
        <app-datepicker (dateChosen)="dateHasBeenChosen($event)"></app-datepicker>
        <app-period-dropdown (periodChosen)="onPeriodChosen($event)"></app-period-dropdown>
    </div>
    <div class="col-5">
      <button class="btn btn-primary" (click)="openAddModal()">Add Transaction</button>
    </div>
</div> -->
<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
        <tr>
            <th class="text-center sticky-header"></th>
            <th class="text-center sticky-header"></th>
            <th class="text-center sticky-header">Amount</th>
            <th class="text-center sticky-header">Type</th>
            <th class="text-center sticky-header">Date</th>
            <th class="text-center sticky-header">Time</th>
            <th class="text-center sticky-header"></th>
        </tr>
  </thead>
    <tbody>
        <tr *ngFor="let transaction of transactions">
            <!-- Image Column -->
            <td class="px-4">
                <div class="d-flex align-items-center">
                    <img
                        [src]="transaction.category.photoUrl"
                        alt="Transaction Category"
                        class="rounded-circle"
                        style="width: 60px; height: 60px;"
                    />
                </div>
            </td>

            <!-- Transaction Name or Category Name Column -->
            <td class="text-center">
                <h5 class=" mb-1">{{ transaction.name || transaction.category.name }}</h5>
            </td>

            <!-- Amount Column -->
            <td class="text-center">
              <h5 *ngIf="transaction.type === TransactionType.Income" style="color: #5e916a;">{{ transaction.amount | currency: 'ден ':'symbol':'0.0-0' | replaceCommaWithSpace }}</h5>
              <h5 *ngIf="transaction.type === TransactionType.Expense" style="color: #dc3545;">{{ transaction.amount | currency: 'ден ':'symbol':'0.0-0' | replaceCommaWithSpace }}</h5>
            </td>

            <!-- Transaction Type Badge Column -->
            <td class="text-center">
              <h5>
                <span *ngIf="transaction.type === TransactionType.Income" class="badge bg-success rounded-pill">Income</span>
                <span *ngIf="transaction.type === TransactionType.Expense" class="badge bg-danger rounded-pill">Expense</span>
              </h5>
            </td>

            <!-- Transaction Date Column -->
            <td class="text-center">
              <h5 class="mb-1">{{ transaction.transactionDate | date: 'mediumDate' }}</h5>
            </td>

            <!-- Transaction Time Column -->
            <td class="text-center">
              <h5 class="mb-1">{{ transaction.transactionTime.slice(0, 5)}}h</h5>
            </td>

            <!-- Action Buttons Column -->
            <td class="text-center">
                <button
                  type="button"
                  class="btn btn-outline-primary btn-sm rounded-pill"
                  data-mdb-ripple-init
                  data-mdb-ripple-color="dark"
                  (click)="openEditModal(transaction.id)"
                >
                  Edit
                </button>
                <button
                  type="button"
                  class="btn btn-outline-danger btn-sm rounded-circle"
                  data-mdb-ripple-init
                  (click)="openDeleteModal(transaction.id)"
                >
                  <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
