<div class="row mt-2">
    <div class="row">
        <p-messages [(value)]="messages" [enableService]="false" />
    </div>
</div>
<div class="heading-wrapper col-12 mt-2">
    <h2 class="heading-text">Your Spendings</h2>
</div>
<div *ngIf="showSpinner" class="text-center">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div class="container" *ngIf="!showSpinner">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8"> <!-- Change to take 80% of the screen -->
            <div class="card-holder">
                <div class="row">
                    <div class="col-5 offset-2 title-wrapper">
                        <h5 class="lbl">Income:</h5>
                    </div>
                    <div class="col-4 offset-1 title-wrapper">
                        <h5 class="income">{{ income | currency: '$ ':'symbol':'0.0-0' | replaceCommaWithSpace }}</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5 offset-2 title-wrapper">
                        <h5 class="lbl">Expense:</h5>
                    </div>
                    <div class="col-4 offset-1 title-wrapper">
                        <h5 class="expense">{{ expense | currency: '$ ':'symbol':'0.0-0' | replaceCommaWithSpace }}</h5>
                    </div>
                </div>

                <hr>

                <div class="row" *ngFor="let obj of totalPerCategoryList">
                    <div class="col-4 offset-3 category-wrapper">
                        <h7>{{obj.category.name}} </h7>
                    </div>
                    <div class="col-4 offset-1 category-wrapper">
                        <h7>{{ obj.total | currency: '$ ':'symbol':'0.0-0' | replaceCommaWithSpace }}</h7>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-5 offset-2 title-wrapper mt-3">
                        <h5 class="lbl">Balance:</h5>
                    </div>
                    <div class="col-4 offset-1 title-wrapper">
                        <h5 class="balance">{{ total | currency: '$ ':'symbol':'0.0-0' | replaceCommaWithSpace }}</h5>
                    </div>
                </div>
            </div>

            <div class="button-wrapper">
                <button class="btn btn-primary" (click)="openAddModal()">Add Transaction</button>
            </div>
        </div>
    </div>
</div>
